/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
certs
HarmonyOS-Developer-Docs
entry/patch.json
build-run.ps1
build.ps1
