/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
certs
entry/patch.json
.connect-wifi-history.txt
.vscode/tasks.json
